.wrapper {
  width: 90%;
  margin: 50px auto;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    margin: 50px auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}
